## Advanced SQL Queries

### Warmer:

Use SQL to accommplish the following task and answer the questions:

1. Log in to a remote database with `psql` using the creditials made available by the instructor. 
2. How many tables are in the database? 
3. What kind of dataset is this? Which data types are there?
4. Which tables have foreign keys?

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

In [4]:
from dotenv import dotenv_values

config = dotenv_values(".env")

In [5]:
host = config['HOST']
password = config['PASS']

url = f'postgresql://postgres:{password}@{host}:5432/northwind'

KeyError: 'HOST'

In [5]:
engine = create_engine(url, echo=False)

## Question: How many different suppliers are in the UK, the US and Italy?

In [14]:
with engine.begin() as conn:
    result = conn.execute(text("""
        ...
    """))
    data = result.all()
print(data)

#### The `IN` operator

The query can be also written as:

## Question: how many expensive (>150), normal (20-150) and cheap (<20) products are in the database?

#### The `CASE` operator

With the `CASE` operator we can run a conditional query. Itâ€™s like if/else in other programming languages.

It can be used to bucketize a column:

In [ ]:
with engine.begin() as conn:
    result = conn.execute(text("""
        ...
    """))
    data = result.all()
data # the results can be easily put into a pandas dataframe for better readability pd.DataFrame(data)

Or to quickly calculate a relative frequency count:

In [ ]:
with engine.begin() as conn:
    result = conn.execute(text("""
        ...
    """))
    data = result.all()
data

The `IN` operator can be used in both the `SELECT` and `WHERE` clause.

## Question: how to rename a column in a table? (country -> area)

#### Alias creation with `AS` 

With `AS` we can rename temporary tables and columns:

In [ ]:
with engine.begin() as conn:
    result = conn.execute(text("""
        ...
    """))
    data = result.all()
data # as does not really work when using SQLalchemy and not really necessary

## Question: what is the proportion of nordic countries in the database? (save it in a column named proportion_nordics)

In [ ]:
with engine.begin() as conn:
    result = conn.execute(text("""
        ...
    """))
    data = result.all()
data

## Question: The unit price is provided in euros but we want to change it to cents. How to do it?

#### Type Casting with `CAST`

Sometimes we need to explicitly change the type of a column. If we convert the temperature to degrees

In [ ]:
with engine.begin() as conn:
    result = conn.execute(text("""
     ...
        """))
    data = result.all()
data

We found prefer the results as actual cents and not including fractions of cents so:

In [ ]:
with engine.begin() as conn:
    result = conn.execute(text("""
    ...
        """))
    data = result.all()
data

## Question: We need to decode date column into day, month and year columns separately for the future analysis. How to do it?

#### Working with timestamps using `DATE_PART`

As was seen in `pandas` a timestamps allows access to different time related features. The DATE_PART() function extracts a subfield from a date or time value. The syntax can be seen below:

In [ ]:
with engine.begin() as conn:
    result = conn.execute(text("""
    ...
        """))
    data = result.all()
data

## Question: What is the monthly sum of the freight costs? Keep this information persistant by saving it in a derived table

#### Derived Tables

The results of a `SELECT` statement is considered a derived table. It is a table derived from another table(s). The results can be made persistant using the `CREATE TABLE` statement in conjection with `SELECT`.

Create a derived table that has the monthly freight costs for each month in the dataset:

**Note:** Timestamps can also be used to filter easily using different comparison operators.

In [25]:
with engine.begin() as conn:
    conn.execute(text("""
    ...
        """))

In [ ]:
## Question:

#### Sub queries

The `FROM` clause can be used to specify a sub-query expression in SQL. The relation produced by the sub-query is then used as a new relation on which the outer query is applied. This can look a bit overwehlming but comes in handy.

In [ ]:
#Here the nested query finds the max order of each product and the main query finds the average of these per year

with engine.begin() as conn:
    result=conn.execute(text("""
        select bucket, 
            count(*)
        from (
            select unit_price, 
                unit_price * 100,
                case 
                    when unit_price > 150 then 'expensive'
                    when unit_price between 20 and 150 then 'normal'
                    else 'cheap'
                end as bucket
            from order_details
        ) as bucketed_data
        group by bucket;
    """))
    data = result.all()
data # also look into None from the timestamp

## Working with strings

There are many ways to manipulate and clean strings in SQL below are a few of the most used functions:

command  |  description
---|---|
`CONCAT(str1,str2,...)`                       |   takes an argument list as an input and returns a concatenated string
`LENGTH()`                      |     used to find the length of a string
`LOWER()`               |     used to convert a string from upper case to lower case
`UPPER()`                   |      used to convert a string from lower case to upper case
`REPLACE()`           |     replace all occurrences of matching_string in the string
`SUBSTRING(str FROM pos)`           |     returns a part of string
`SPLIT_PART()`             |      splits a string on a specified delimiter and returns the nth substring

Here are some examples:

## Question: Store first name and last name of the employees in one column

In [ ]:
with engine.begin() as conn:
    result=conn.execute(text("""
    ...
    """))
    data = result.all()
data

## Question: What is the distribution of the length of the first name of the employees?

In [ ]:
with engine.begin() as conn:
    result=conn.execute(text("""
    ...
    """))
    data = result.all()
data

## Question: Turn first names into lower case letters

In [ ]:
with engine.begin() as conn:
    result=conn.execute(text("""
    ...
    """))
    data = result.all()
data

## Question: Turn last names into upper case letters

In [ ]:
with engine.begin() as conn:
    result=conn.execute(text("""
    ...
    """))
    data = result.all()
data

## Question: Simplify the titles of the US employees - there is no need to see 'Representative' in the title and 'Rep' is enough

In [ ]:
with engine.begin() as conn:
    result=conn.execute(text("""
    ...
    """))
    data = result.all()
data

## Question: We want to display all employees names with full last name and the first letter of the first name

In [ ]:
with engine.begin() as conn:
    result=conn.execute(text("""
    ...
    """))
    data = result.all()
data

## Question: Look at the first 5 orders and display customer id, the year of the order date and the month of the order date

In [ ]:
with engine.begin() as conn:
    result=conn.execute(text("""
    ...
    """))
    data = result.all()
data